<div class="container__big-card">
  <div class="big-card__picture">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9HNNymFf3U-5Y4X9maxqVkt4eRDmsQ9amJQ&usqp=CAU"
      height="200px"
      width="396px"
      alt="placeholder"
    />
  </div>
  <div class="big-card__title">
    <h1><a href="#">A nova versão de Thor em God Of War</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Agora sim, Thor tem sua aparência revelada em "God of War" sequência produzida pelo estudio Santa Mônica
      </a>
    </p>
  </div>
</div>
