/* Medium view */
@media screen and (max-width:600px) {
    .container__small-card{
        width: 100%;
        margin-right: 10%;
        margin-bottom: 15px;
    }
    .container__small-card-content{
        display: flex;
        flex-direction: row;
    }
    .small-card__picture > img{
        width: 200px;
        min-width: 200px;
        margin-right: 20px;
    }

    .small-card__title{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container__small-card__separator{
        margin-top: 10px;
    }

}

/* Min view */
@media screen and (max-width:400px) {
    .container__small-card{
        width: 100%;
        margin-left: 5px;
        margin-bottom: 15px;
    }
    .container__small-card-content{
        display: flex;
        flex-direction: row;
    }
    .small-card__picture > img{
        width: 100px;
    }

    .small-card__title{
        display: flex;
        font-size: 0.8em;
        justify-content: center;
        align-items: center;
    }
    .container__small-card__separator{
        margin-top: 10px;
    }


}

