@media screen and (max-width:767px) {
    .container__menu-bar > ul{
        display: flex;
        flex-direction: row;
    }

    .container__menu-bar > ul > li{
        margin-right: 20px ;
        list-style: none;
    }

    .container__menu-bar > ul > li :hover{
        transition-duration: .8s;
        color: aqua;
        list-style: none;
        text-decoration: underline;
    }

}
