<i class="fa-brands fa-linkedin"></i>
<div class="container__menu-bar">
    <ul>
        <!-- home -->
        <li><a [routerLink]="['']"><fa-icon [icon] = "faHouse" fa-2xsm></fa-icon> Home </a></li>
        <!-- News         -->
        <li><a [routerLink]="['content/:Id']"> <fa-icon [icon] = "faNewspaper"></fa-icon> Noticias</a></li>
        <!-- LinkTree -->
        <li><a href="https://linktr.ee/lucastab0rda" target="_blank"> <fa-icon [icon]="faTree"></fa-icon> LinkTree</a></li>
    </ul>
</div>


